@import 'tailwindcss';
@import '@heroui/styles';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'font', sans-serif;
  --font-mono: 'monospace', monospace;
  --bg: white;
  --text: black;
}

.dark {
  --bg: #09090b;
  --text: white;
}

body {
  background: var(--bg);
  color: var(--text);
}

:root {
  --color-accent-soft: #ffa20030;
  --color-accent-soft-selected: #ffa20030;
  --color-accent-soft-hover: #ffa20030;
  --color-accent-soft-foreground: #ffa200;
  --color-accent: #000;
  --color-accent-hover: #ffa200;
  --color-accent-fg: #ffffff;
  --accent: var(--color-accent-hover);
}

button:hover {
  transform: scale(1.1);
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00000050 transparent;
}

a:hover,
a:active {
  color: #999 !important;
}

.swiper-pagination {
  z-index: 50;
}

.swiper-pagination-bullet {
  background: black !important;
  opacity: 0.3;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 20px;
  border-radius: 9999px;
  background: rgb(121, 108, 76) !important;
}
