@import 'tailwindcss';
@import '@heroui/styles';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'font', sans-serif;
  --font-mono: 'monospace', monospace;
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00000050 transparent;
}
